* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 60px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 50px;
    list-style: none;
    gap: 15px;
    font-size: 1.6rem;
    margin-right: 30px;
}

.menu-icon {
    background-image: url(https://static.thenounproject.com/png/756729-200.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.foto-perfil {
    border-radius: 50%;
}